body, html {
    height: 100%;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    text-shadow: 0px 2px 10px #687e93;
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    ::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: #e7e7e7;
        border: 1px solid #cacaca;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #727272;
    }    
}

.sky {
    background-color: #8ea7c1;
    overflow: auto;
    max-height: 40%;
}

.image-container {
    background-image: url("images/Invitation_BG.jpg"); 
    background-size: contain;
    background-position: center;
    height: 100%;
}

.information {
    padding-left: 12px;
    overflow: auto;
    font-size: 24px;
    color: white;
    text-align: center;
}

.korean {
    font-family: "HYMyeongJo-Extra", "Apple SD Gothic Neo", sans-serif;
}

.english {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: italic;
}

.opening-paragraph {
    margin-top: 80px;
}

.names-table {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.names-table .left-column {
    text-align: right;
}

.names-table .right-column {
    text-align: left;
}

.names-table .middle-column {
    padding: 0 32px;
}

.date-location {
    margin-top: 80px;
}

.show-account-details, .directions {
    margin-bottom: 0;
    text-decoration: underline;
    cursor: pointer;
}

.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, visibility 0s 0.5s;
    visibility: hidden;
}

.show {
    max-height: 500px; /* you can adjust this value based on your content */
    visibility: visible;
    transition: max-height 0.5s ease-out, visibility 0s;
}
.copy-account-number{
    margin: 8px 0;
}

button.copy {
    background-color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #8DA8C3;
    border-radius: 5px; 
    font-size: 16px;
    font-weight: 700;
}

button.copy:hover,
button.copy:focus {
    box-shadow: inset 0px 0px 6px 7px #00000024;
    outline: none;
}

button.copy:active {
    background-color: #8DA8C3;
    color: white;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.tooltip.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}